Source: rtpflood
Section: utils
Priority: extra
Maintainer: Devon Kearns <dookie@kali.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: http://www.hackingvoip.com/sec_tools.html
Vcs-Git: ssh://git@git.kali.org/packages/rtpflood.git
Vcs-Browser: http://git.kali.org/gitweb/?p=packages/rtpflood.git;a=summary

Package: rtpflood
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Tool to flood any RTP device
 A command line tool used to flood any device that is
 processing RTP.
